language: objective-c
osx_image: xcode7.2
xcode_project: Yelp.xcodeproj
xcode_scheme: Yelp
xcode_sdk: iphonesimulator9.2

#script:
#- set -o pipefail && xcodebuild test -workspace Example/Yelp.xcworkspace -scheme Yelp-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty
#- pod lib lint
