language: objective-c
osx_image: xcode7.2
xcode_workspace: Yelp.xcworkspace
xcode_scheme: Yelp
xcode_sdk: iphonesimulator9.2

script: ./bin/test.sh
after_success:
- bash <(curl -s https://codecov.io/bash)

#script:
#- set -o pipefail && xcodebuild test -workspace Example/Yelp.xcworkspace -scheme Yelp-Example -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO | xcpretty
#- pod lib lint
